# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.venv
build/pyinstaller
src-tauri/resources/sidecar

# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#tmp
tmp/
.tmp/